
map{
  height: 10000px;
  background-color: red;
}
#info{
text-align: center;
top: 0;
background-color: darkgray;
}
#info_2{
  display: block;
  margin: 0 auto;
  text-align:left;
  width: max-content;
  padding: 0px 30px;

}
h1{
  margin-top: 100px;
}
h4{
  padding-left:20px;
  display: inline-block;
}
span{
  font-weight: bold;
  font-size: 25px;
  display: block;
}
button{
  display: block;
  width: 200px;
  margin-top:40px;
  margin:25px auto;


}

