<div class="container">
  <div id ="info" style="height:100%; width: 30%; float: left;"><h1>Координаты поставленного маркера:</h1>
    <div id="info_2">
    <span>Широта<h4 id="Lt">{{info.lat}}</h4></span>
    <span>Долгота<h4 id="Lg">{{info.lng}}</h4></span>
    <span>Страна<h4 id="cntr">{{info.country}}</h4></span>
    <span>Город<h4 >{{info.city}}</h4></span>
    <span>Пригород<h4 >{{info.suburb}}</h4></span>
  </div>
    <button mat-raised-button (click)="saveMarker()" id="Save">Сохранить координату</button>
    <button mat-raised-button (click)="clear()">Очистить</button>
    <button mat-raised-button (click)="MoveMarker()">Просмотр сохранений</button>
    <button mat-raised-button (click)="ClearPoly()">Удалить линии</button>
    </div>
  <div #map style="width: 70%; height: 100%;"></div>
  <div>
    <span></span>
  </div>


</div>

