/* You can add global styles to this file, and also import other style files */

.gmnoprint{
  display: none;
}
.container{
  height: 100%;
  width: 100%;
}
*{
  margin-left: 0px;
  margin-right: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
